@use "./helpers/mixins" as *;

/* Global [Start] */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  content: '';
  position: absolute;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bfe7f9;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}
/* Global [End] */







/* Camera styles [Start] */
main {
  width: 100%;
  height: 100%;
}

main .container {
  @include center-x-y;
  width: 100%;
  height: 100%;
}

.camera {
  user-select: none;
}

.camera-body {
  background-color: #fff;
  width: 530px;
  height: 330px;
  @include prefix(border-radius, 50px);
  box-shadow: 13px 13px 0 #aadff7;
  position: relative;
}

.camera-body::after {
  left: 79px;
  top: 0;
  width: 52px;
  height: 10px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .camera {
    scale: 0.6 0.6;
  }
}

.camera-body .point {
  position: absolute;
  left: 80px;
  top: 60px;
  width: 20px;
  aspect-ratio: 1/1;
  background-color: #242f3c;
  @include prefix(border-radius, 50%);
}

.camera-body .camera-lens {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: #2f3945;
  border: solid 8px #39495c;
  width: 240px;
  aspect-ratio: 1/1;
  @include center-x-y;
  @include prefix(border-radius, 50%);
  z-index: 2;
}

.camera-body .camera-lens::before {
  left: 50%;
  top: 0;
  width: 0;
  translate: -50% 0;
  @include prefix(border-radius, inherit);
  z-index: 1;
  border: solid 112px red;
  border-color: #adb7c16f #242f3c6f #242f3c6f #adb7c16f;
}

.camera-body .camera-lens .inner-lens {
  background-color: #303e4e;
  border: solid 12px #41546a;
  width: 78%;
  height: 78%;
  @include prefix(border-radius, inherit);
  @include center-x-y;
}

.camera-body .camera-lens .inner-lens .inner-inner-lens {
  background-color: #242f3c;
  width: 60%;
  height: 60%;
  @include prefix(border-radius, inherit);
  position: relative;
}

.camera-body .camera-lens .inner-lens .inner-inner-lens::before {
  right: 10px;
  bottom: 26px;
  width: 24px;
  aspect-ratio: 1/1;
  background-color: #454e59;
  @include prefix(border-radius, inherit);
}

.camera-body .colored-label {
  position: absolute;
  right: 0;
  top: 50%;
  width: 160px;
  height: 60px;
  background: linear-gradient(to bottom,
      /* Increased by 16.3 for 6 colors*/
      #c52c77 0,
      #c52c77 16.3%,
      #db9038 16.3%,
      #db9038 33.6%,
      #f7c945 33.6%,
      #f7c945 50.4%,
      #dfe37c 50.4%,
      #dfe37c 67.2%,
      #5b9f42 67.2%,
      #5b9f42 84%,
      #3887bd 84%,
      #3887bd 100%);
  translate: 0 -50%;
}

.camera-body .camera-bar {
  background-color: #38495c;
  width: 150px;
  height: 42px;
  position: absolute;
  translate: -50% 0;
  left: 50%;
  top: 0;
  z-index: -1;
  @include prefix(border-radius, 8px 8px 0 0);
  @include transition(top, 0.3s)
}

.camera-body .camera-bar.active {
  top: -42px;
}

.camera-body .camera-bar::before {
  left: 50%;
  top: 50%;
  width: 50px;
  height: 76%;
  translate: -50% -50%;
  background-color: #7c96b1;
  @include prefix(border-radius, 10px);
}

.camera-body .camera-button {
  position: absolute;
  left: 80px;
  top: -6px;
  background-color: #bb354d;
  width: 50px;
  height: 6px;
  cursor: pointer;
  @include prefix(border-radius, 20px 20px 0 0);
  @include transition(top, 0.1s);
}

.camera-body .hand-emoji {
  position: absolute;
  left: 86px;
  top: -50px;
  color: #252525;
  display: block;
  font-size: 26px;
  letter-spacing: -0.5px;
  @include prefix(animation, hide-after-time 0.3s 4s forwards);
}

.camera-body .msg {
  position: absolute;
  left: 0;
  top: -80px;
  width: 300px;
  color: #252525;
  font-size: 20px;
  letter-spacing: -0.5px;
  @include prefix(animation, hide-after-time 0.3s 4s forwards);
}

@media (max-width: 768px) {
  .camera-body .hand-emoji {
    font-size: 34px;
    top: -60px;
    left: 80px;
  }

  .camera-body .msg {
    font-size: 28px;
    width: 400px;
    top: -100px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  display: none;
  @include prefix(animation, flash 0.5s 0.1s linear);
}

.emoji {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 100px;
  aspect-ratio: 1/1;
  display: none;
}

@media (max-width: 768px) {
  .emoji {
    width: 70px;
    left: 20px;
    top: 20px;
  }
}
/* Camera styles [End] */






/* Keyframes [Start] */
@keyframes flash {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes hide-after-time {
  to {
    visibility: hidden;
  }
}
/* Keyframes [End] */